
.title_card{
	font-size:40px;

}
/*
.title_card p{
		margin-bottom: 1em;
}
*/
/*
.title_card p{
	border-radius: 10px;
	background: rgba(255,0,0,1);
}*/
.title_card p {
    /* border-radius: 10px; */
    font-weight: 500;
    /* background: rgba(255,0,0,1); */
}

.content{
	padding: 10px;
	border-radius: 10px;
	background: rgba(119, 118, 118, 0.26);
	height: 700px;
    overflow: auto;
	/*background: rgba(200,200,200,0.7);*/
}
.box{
	padding:2em;
	border-radius:10px;
	/*background: rgba(100,100,100,0.9);*/
}

.img_card

.result_card, .info_card, .detail_card{
	display:flex;
}

.result_card{
	flex-direction:row;
}

.detail_card{
	flex-direction: row;
	align-self: center;
	width:100%;
}

.info_card{
	width:100%;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.title_card{
	width:50%;
	text-align: center;
	align-self: center;
}


.type_card, .year_card, .rating_card{
	text-align: center;
	width:45%;
	margin-left: 10px;
	/*background: rgba(255,0,0,1);*/
	background: #f64747;
	border-radius: 10px;
}

.type_card p{
	width:60%;
}

.seemore_card img{
	width:80%;
	height: auto;
}
.seemore_card{
	display: flex;
	align-items: center;
}

/*STYLE BY SIM1 - INFO SINGOLO FILM*/
.titlefilm {
    text-align: center;
    font-size: large;
}
