/*STYLE FOR CHARTS*/
.chart {
    /*display: inline-flex;*/
}
.legend {
    text-align: initial;
    font-size: smaller;
    margin-left: 7%;
    height: min-content;
    background: radial-gradient(black, transparent);
}
.content {
    display: flex;
}
#formCountry{
	/*display: flex*/
}
.addcountry {
    display: inline-block;
}
#chartYear {
    margin-left: 20%;
}
#contentC{
	display:block;
}
input#country1, input#country{
    margin-right: 4px;
}
div#countries {
    display: flex;
}