/*STYLE FOR CHARTS*/
.chart {
    /*display: inline-flex;*/
}
.legend {
    text-align: initial;
    font-size: smaller;
    margin-left: 7%;
    height: min-content;
    background: radial-gradient(black, transparent);
}
.content {
    display: flex;
}
