<!DOCTYPE HTML>
<!--
	Road Trip by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Generic - Road Trip by TEMPLATED</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<link rel="stylesheet" type="text/css" href="assets/css/gibbo.css">
	</head>
	<body class="subpage">

		<!-- Header -->
			<header id="header" class="alt">
				<div class="logo"><a href="index.jsp">Road Trip <span>by TEMPLATED</span></a></div>
				<a href="#menu"><span>Menu</span></a>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="index.jsp">Home</a></li>
					<li><a href="generic.jsp">Generic</a></li>
					<li><a href="elements.html">Elements</a></li>
				</ul>
			</nav>
		<!-- Footer -->
			<footer id="footer">
				<div class="inner">

					<h2>Contact Me</h2>

					<form action="#" method="post">
											
						<div class="4u 12u$(small)">
						<label for="type">Type</label>
							<input type="radio" id="movies" name="movies" value="movies" >
								<label for="movies">Movies</label>
							<input type="radio" id="tvshows" name="tvshows" value="tvshows" >
								<label for="tvshows">TV Shows</label>
						</div>
						<div class="field half">
							<label for="title">Title</label>
							<input name="title" id="title" type="text" placeholder="Title">
						</div>
						<div class="field half">
							<label for="director">Director</label>
							<input name="director" id="director" type="text" placeholder="Director">
						</div>
						<div class="field half">
							<label for="cast">Cast</label>
							<input name="cast" id="cast" type="text" placeholder="Cast">
						</div>
						<div class="field half">
							<label for="country">Country</label>
							<input name="country" id="country" type="text" placeholder="Country">
						</div>
						
						
						<div class="field half">
							<label for="year">Release Year</label>
							<input type="number" id="year" name="year" placeholder="Year" >
							
						</div>
					<!-- MISSING RATING -->	
						<div class="field half">
							<label for="duration">Duration</label>
							<input name="duration" id="duration" type="text" placeholder="Duration">
						</div>
						<div class="field half">
							<label for="category">Category</label>
							<input name="category" id="category" type="text" placeholder="Category">
						</div>
						
						
						
						<ul class="actions">
							<li><input value="Send Message" class="button alt" type="submit"></li>
						</ul>
					</form>

					<ul class="icons">
						<li><a href="#" class="icon round fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon round fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon round fa-instagram"><span class="label">Instagram</span></a></li>
					</ul>

					<div class="copyright">
						&copy; Untitled. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://unsplash.com">Unsplash</a>.
					</div>

				</div>
			</footer>
		<!-- Content -->
		<!--
			Note: To show a background image, set the "data-bg" attribute below
			to the full filename of your image. This is used in each section to set
			the background image.
		-->
		<!--
			Image
			Title
			Type
			Release Year
			Rating
			Details
		-->
			<section id="post" class="wrapper bg-img" data-bg="banner2.jpg">
				<div class="inner">
					<article class="box">
						<div class="content">
							<div class="result_card" style="display:flex">
								<div class="img_card">
									<img src="images/movies-icon-128.png">
								</div>
								<div class="info_card">
									<div class="title_card">
										<p>Titolo di prova</p>
									</div>
									<div class="detail_card">
										<div class="type_card">
											<p>Type:Tipo</p>
										</div>
										<div class="year_card">
											<p>Release Year:1989</p>
										</div>
										<div class="rating_card">
											<p>Rating:TV_14</p>
										</div>
									</div>
								</div>
								<div class="seemore_card">
									<img src="images/show.png">
								</div>
							</div>
						</div>
					</article>
					<article class="box">
						<div class="content">
						
							<div class="result_card" style="display:flex">
								<div class="img_card">
									<img src="images/movies-icon-128.png">
								</div>
								<div class="info_card">
									<div class="title_card">
										<p>Titolo di prova</p>
									</div>
									<div class="detail_card">
										<div class="type_card">
											<p>Type:Tipo</p>
										</div>
										<div class="year_card">
											<p>Release Year:1989</p>
										</div>
										<div class="rating_card">
											<p>Rating:TV_14</p>
										</div>
									</div>
								</div>
								<div class="seemore_card">
									<img src="images/show.png">
								</div>
							</div>
							
						</div>
					</article>
				</div>
			</section>



		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>